<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://quc7v4rw4j6ek.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2d34eb09-3a6f-4251-8365-31fdc0f9412f/resourceGroups/TestRG/providers/Microsoft.Web/sites/quc7v4rw4j6ek</ResourceId>
    <UserName>$quc7v4rw4j6ek</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://quc7v4rw4j6ek.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>